@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 2vmin;
    text-align: center;
}
body {
    padding: 30px;
    background: white;
    background-attachment: scroll;
}

html {
    background: white;
}

.modal-dialog{
    min-width: 30rem;
}

.modal-header{
    border: 0;
}

.modal-body, .modal-footer {
    padding: 0;
    border: 0;
}

.btn-confirm,#selectCardImg, .card-img-top {
    border-radius: 0;
}

.btn-confirm {
    height: 5rem;
}

.card {
    margin: 5px;
    border: 0;
    width: 30vmin;
    padding-left: 0;
    padding-right: 0;
}

.card-text, .card-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul {
    justify-content: center;
}

.search-bar {
    border-radius: 3rem;
    font-size: 4vmin;
    position: relative;
    align-content: center;
    margin: 5vh auto;
    border: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
    background: #555;
    overflow: hidden;
}

input {
    width: 90%;
    height: 90%;
    border: 1px;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.search-bar .fa-search {
    position: relative;
    color: white;
}


#searchInput {
    background: rgba(0,0,0,0);
    color: #fff;
    text-anchor: middle;
    border-bottom-width: 1rem;
}


.notify-badge{
    position: absolute;
    right: 10px;
    top:10px;
    text-align: center;
    padding:.2vh 2vh;
    font-size:2vh;
    font-weight: bolder;
}

.dEasy{
    background-image: linear-gradient(40deg, cyan, #00cd61);
    color: white;
}

.dMedium{
    background-image: linear-gradient(40deg,yellow, #ff4500);
    color: white;
}

.dHard{
    background-image: linear-gradient(40deg,magenta, #ff0000);
    color: white;
}

.dExtreme{
    background-image: linear-gradient(40deg,darkorchid,blue);
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

.form-group, .form-control {
    align-content: center;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

h5 {
    line-height: 1.5;
}