@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

body, html {
    text-align: center;
}

body {
    background: white;
}

html {
    background: white;
    padding: 1rem;
}

ul {
    justify-content: center;
}

h5 {
    line-height: 1;
}

.modal-dialog{
    min-width: 20rem;
}

.modal-header{
    border: 0;
}

.modal-body, .modal-footer {
    padding: 0;
    border: 0;
}

.btn-confirm,#selectCardImg, .card-img-top, .btn-danger {
    border-radius: 0;
}

.btn-confirm, .btn-danger {
    height: 5rem;
}

.card {
    margin: 5px;
    border: 0;
    width: 30vmin;
    padding-left: 0;
    padding-right: 0;
}

.card-title{
    white-space: pre-wrap;
}

.card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-bar {
    border-radius: 4rem;
    font-size: 4vmin;
    position: relative;
    align-content: center;
    margin: 5vh auto;
    border: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
    background: rgba(55,55,55,.5);
    overflow: hidden;
    flex-wrap: nowrap;
}

input {
    pointer-events: bounding-box;
    width: 85%;
    height: 90%;
    border: 1px;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.search-bar .fa {
    position: relative;
    color: white;
    pointer-events: none;
}

.navbar-item {
    padding-left: 2rem;
    padding-right: 2rem;
}

#searchInput, #searchButton{
    background: rgba(0,0,0,0);
    color: #fff;
    border-bottom-width: 1rem;
}

#searchInput::placeholder{
    color: rgba(255,255,255,0.5);
}

header{
    padding-top: 1px;
}

.notify-badge{
    position: absolute;
    right: 10px;
    top:10px;
    text-align: center;
    padding:.2rem 1rem;
    font-size:1.5rem;
    font-weight: bolder;
}

.dEasy{
    background-image: linear-gradient(40deg, cyan, #00cd61);
    color: white;
}

.dMedium{
    background-image: linear-gradient(40deg,yellow, #ff4500);
    color: white;
}

.dHard{
    background-image: linear-gradient(40deg,magenta, #ff0000);
    color: white;
}

.dExtreme{
    background-image: linear-gradient(40deg,darkorchid,blue);
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

.form-group, .form-control {
    align-content: center;
    padding: 5px;
    margin: 5px;
    width: 97%;
}

/* Conditional responsiveness*/
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    html {
        font-size: medium;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    html {
        font-size: 2.5vw;
    }
}